@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .pokefont-outline {
    text-shadow: 3px 3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    -3px -3px 0 black,
    3px 0 0 black,
    0 3px 0 black,
    -3px 0 0 black,
    0 -3px 0 black,
    5px 5px 0 red;
  }

  body {
    @apply text-amber-500;
  }
}

@layer components {
  .bg-arena {
    @apply bg-[url('./assets/boxring2.jpg')] bg-no-repeat bg-center;
  }

  .arena {
    @apply bg-indigo-950 w-screen h-screen;
    @apply bg-[url('./assets/boxring2.jpg')] bg-no-repeat bg-center bg-cover p-8 lg:p-20;
  }

  .arena-inner {
    @apply max-w-[960] lg:max-w-[75%] mx-auto flex flex-col h-full items-center;
  }

  .inner-container {
    @apply flex flex-col items-center justify-center min-h-screen max-w-5xl mx-auto;
  }

  .start-input {
    @apply bg-transparent mx-16 text-3xl tracking-wider text-amber-500 text-center border-transparent overflow-visible font-medium uppercase;
    @apply placeholder:text-amber-500/70 placeholder:-translate-y-4;
    @apply focus:outline-none focus:border-transparent focus:ring-0;
  }
}

@font-face {
  font-family: "pokemon";
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Solid Normal'),
  url('../public/pokemon-solid.woff') format('woff');
}
